In [ ]:
import sqlite3

def create_db1():
    connection = sqlite3.connect("db1.sqlite")
    cursor = connection.cursor()

    # Create Users table
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Users (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            email TEXT UNIQUE NOT NULL,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        )
    ''')

    # Create Orders table
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Orders (
            order_id INTEGER PRIMARY KEY,
            user_id INTEGER,
            product_name TEXT NOT NULL,
            quantity INTEGER NOT NULL,
            order_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            FOREIGN KEY (user_id) REFERENCES Users(id)
        )
    ''')

    # Insert some sample data into Users
    cursor.execute("INSERT INTO Users (name, email) VALUES (?, ?)", ("Alice", "alice@example.com"))
    cursor.execute("INSERT INTO Users (name, email) VALUES (?, ?)", ("Bob", "bob@example.com"))

    # Insert some sample data into Orders
    cursor.execute("INSERT INTO Orders (user_id, product_name, quantity) VALUES (?, ?, ?)", (1, "Product A", 3))
    cursor.execute("INSERT INTO Orders (user_id, product_name, quantity) VALUES (?, ?, ?)", (2, "Product B", 1))

    connection.commit()
    connection.close()

def create_db2():
    connection = sqlite3.connect("db2.sqlite")
    cursor = connection.cursor()

    # Create Customers table (similar to Users table in db1)
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Customers (
            id INTEGER PRIMARY KEY,
            full_name TEXT NOT NULL,
            contact_email TEXT UNIQUE NOT NULL,
            signup_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        )
    ''')

    # Create Orders table (different schema from db1)
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Orders (
            order_id INTEGER PRIMARY KEY,
            customer_id INTEGER,
            item TEXT NOT NULL,
            quantity INTEGER NOT NULL,
            price REAL NOT NULL,
            order_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            FOREIGN KEY (customer_id) REFERENCES Customers(id)
        )
    ''')

    # Insert some sample data into Customers
    cursor.execute("INSERT INTO Customers (full_name, contact_email) VALUES (?, ?)", ("Alice Johnson", "alice.johnson@example.com"))
    cursor.execute("INSERT INTO Customers (full_name, contact_email) VALUES (?, ?)", ("Bob Smith", "bob.smith@example.com"))

    # Insert some sample data into Orders
    cursor.execute("INSERT INTO Orders (customer_id, item, quantity, price) VALUES (?, ?, ?, ?)", (1, "Product C", 2, 19.99))
    cursor.execute("INSERT INTO Orders (customer_id, item, quantity, price) VALUES (?, ?, ?, ?)", (2, "Product D", 5, 9.99))

    connection.commit()
    connection.close()

if __name__ == "__main__":
    create_db1()
    create_db2()
    print("Databases and tables created successfully.")